* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html {
    
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(to right, #080808, #000000);
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.heading {
    font-size: 3em;
    margin: 64px;
    color: #fff;
}

.subheading {
    font-size: 1em;
    margin: 12px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #f22324;
}

.flex-container {
    display: inline-block;
    flex-wrap: wrap;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}
img {
    width: 100px;  
    object-fit: cover;  
}